@{
    ViewData["@Title"] = "Third page";
}


<style>
    .blocks{
        width:33%;
        float:left;
        text-align:center;
        margin-top:20px;
    }
    button{
        padding:10px;
        background-color:yellowgreen;
        border:1px solid green;
    }
    .drops{
        border:1px solid white;
        color:white;
        padding:10px;
        margin-left:10px;
    }
    .arrows{
        color:white;
        padding:10px;
        background-color:yellowgreen;
        text-decoration:none;
        margin-left:20px;
    }
    img{
        height:200px;
        width:324px;
    }
</style>



<div style="background-color:LightSeaGreen;padding:20px">
    <span class="drops">
        <select onchange="pa(this.value)">
            <option disabled selected>BRAND</option>
            <option value="./Laopala">LA'OPALA</option>
            <option value="./Raymond">RAYMOND</option>
        </select>
        <script>
            function pa(src)
            {
                window.location=src;
            }
        </script>
    </span>
    <span class="drops">
        <select onchange="la(this.value)">
            <option disabled selected>TYPE</option>
            <option value="./Mugs">Mugs</option>
            <option value="./Tshirts">T-SHIRT</option>
        </select>
        <script>
            function la(src)
            {
                window.location=src;
            }
        </script>
    </span>
    <a href="./Second" class="arrows">&lt;</a>
</div>



<p style="text-align:center;">page 3 of 3</p>



<div class="blocks">
<img src="~/images/tshirt1.jpg"/>
<p>La'opala: Check T-shirt - 300Rs/-</p>
<button>Add to Cart</button>
</div>

<div class="blocks">
<img src="~/images/tshirt2.jpg"/>
<p>La'opala: Blue T-shirt - 300Rs/-</p>
<button>Add to Cart</button>
</div>

<div class="blocks">
<img src="~/images/mug3.jpg"/>
<p>Raymond: Fuel Mug - 400Rs/-</p>
<button>Add to Cart</button>
</div>

<div><br /></div>

<div class="blocks">
<img src="~/images/mug5.jpg"/>
<p>La'opala: Red Mug - 300Rs/-</p>
<button>Add to Cart</button>
</div>

<div class="blocks" style="margin-top:20px;">
<img src="~/images/tshirt6.jpg"/>
<p>Raymond: Design T-shirt - 300Rs/-</p>
<button>Add to Cart</button>
</div>

<div class="blocks">
<img src="~/images/mug7.jpg" />
<p>La'opala: White Mug - 340Rs/-</p>
<button>Add to Cart</button>
</div>